@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
 body{
   font-family: 'Noto Sans', sans-serif;
 }

.custom-nav{
	background-color: #fff;
  /*  border-bottom: 2px solid #5673b3;*/
}
.custom-brand{
	display: inline-flex;
}
.custom-logo{
	  width: 49px;
    height: 48px;
}
.custom-logo-2{
	width: 38px;
  	height: 18px;
    position: relative;
    top: 9px;
}

.custom-ul{
	padding-top: 19px;
}
.custom-ul li a{
  font-family: 'Noto Sans KR', sans-serif;
}

.world-logo{
	width: 33px;
    padding-top: 12px;
}
.custom-exchange{
	display: inline-flex;
    position: relative;
       left: 14%;
}
.exchange-logo{
	width: 42px;
    height: 39px;
    position: relative;
    left: 21px;
   
}
.exchange-h2{
	font-weight: 600;
   font-family: 'Noto Sans KR', sans-serif;
}
.btn-width{
	    width: 25%;
      font-family: 'Noto Sans KR', sans-serif;
}
.time{
	font-size: 12px;
}
.icon{
	font-size: 21px;
}
.layer-p1{
  font-family: 'Noto Sans KR', sans-serif;
}
.layer-open{
  font-family: 'Noto Sans KR', sans-serif;
}
.custom-close{
	padding-left: 95px;
  font-family: 'Noto Sans KR', sans-serif;
}
.layer-color{
	width: 72%;
    margin-top: 92px;
    
}
.custom-box{
	position: absolute;
    top: 102px;
    color: #fff;
    padding: 25px;
    width: 69%;
    font-family: 'Noto Sans KR', sans-serif;
}
.custom-num{
	color: #05d2f3;
    font-size: 18px;
}
.custom-tag{
		color: #05d2f3;
		margin-top: -4px;
}
.custom-img	{
	float: right;
    width: 58%;
     margin-top: 50px;
}
.custom-box-tag {
    position: absolute;
    left:17.5em;
	top: 4em;
 	
 	font-size: 15px;
 	    width: 49%;
 	  
}
.custom-br{
	  border-bottom: 1px solid #a29e9e;
	  color: #05d2f3;
	  margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.custom-line{
	color: #fff;
    font-size: 13px;
   line-height: 1;
  /* font-family: 'Noto Sans KR', sans-serif;*/
}
.custom-br-tag{
	  border-bottom: 1px solid #a29e9e;
	  color: #05d2f3;
}
.custom-drop{
	color: #a5a0a0;
    font-size: 23px;
    margin-top: -15px;
}
.custom-back-img{
	background-image: url('../images/layer_7.png');
	background-repeat: no-repeat;
    background-size: cover;
}
.map-point{
	position: absolute;
   left: 19em;
    width: 2%;
    top: 21em;
}
.map-point-1{
	position: relative;
    top: 6em;
    width:2%;
}
.map-point-2{
	position: absolute;
    right: 24em;
    width: 2%;
}
.map-point-3{
	position: absolute;
    bottom: -6em;
    right: 10em;
    width: 4%;
}
.custom-img-back{
	background-image: url('../images/layer_16_0.png');
	margin-top: 69px;

}
.custom-content{
	color:#fff;
  font-family: 'Noto Sans KR', sans-serif;
}
.custom-img-background{
	background-image: url('../images/layer_61.png');
	background-position: center,center;
    background-repeat: no-repeat;
    background-size:65%;
     padding-top: 15em;
    margin-top: -4em;
}
.custom-diamond{
	filter: drop-shadow(1px 1px 1px white);
}
.top-border{
  border-top: 1px solid #fff;
    margin-top: 12px;
}
.custom-top{
	position: relative;
    top: -9em;
}
.img-global{
	width: 57px;
    float: right;
  margin-right: -13em;

}
.chat{
	    width: 59px;
    margin-left: -14em;
}
.custom-layer-1{
	width:35px;
}
.custom-align{
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}
.custom-con-img{
	  background-image: url('../images/layer_16_2.png');
}
.custom-top-row{
	    margin: 12px 12px;
	  
}
.custom-width{
	width: 85%;
}
.custom-btn button{

    height: 40px;
    width: 46%;
}
.custom-btn {
    margin-top: 27px;
}
.btn-space{
	  margin-left: 13px;
}
.custom-clr{
	background-color: #262d58;
      height: 100px;
}
.text-color{
	color:#fff;
   font-family: 'Noto Sans KR', sans-serif;

}
.layer-cw{
      font-size: 21px;
}
.text-color-1{
	color:#ad9435;
   font-family: 'Noto Sans KR', sans-serif;
}
.custom-footer{
	    margin-top: 25px;
}
.layer-app{
   font-family: 'Noto Sans KR', sans-serif;
}
.custom-ul-tag{
	/*text-align: center;*/
	list-style-type: none;
	margin-left: -43px;
	margin-top: -10px;
}
.custom-ul-tag li a{
	text-decoration: none;
	color:#000;
  font-family: 'Noto Sans KR', sans-serif;
      font-size: 13px;
}
.lod-token{
	margin-left: 36px;
}
.space-top{
	margin-top: 37px;
}
.custom-bottom-br {
    border-bottom: 1px solid #262d58;
}
.para-top{
	    margin-top: 55px;
       font-family: 'Noto Sans KR', sans-serif;
}
.custom-align-tag{
	position: absolute;
    top: 11em;
    font-size: 15px;
    left: 5em;
}
.custom-mts{
	color:#fff;
  font-family: 'Noto Sans KR', sans-serif;
}
.custom-mts-1{
	color:#bdbcb7;
  font-family: 'Noto Sans KR', sans-serif;
}
.custom-align-tag-1{
	position: absolute;
    top: 3em;
    left: 18em;
}
.custom-tag-21{
	font-family: 'Noto Sans KR', sans-serif;
	position: absolute;
    top: 12em;
    right: 3em;
}
.custom-sentence{
	margin: 18px 18px;
  font-family: 'Noto Sans KR', sans-serif;
}
.custom-para-line{
	position: absolute;
    top: 7em;
    font-family: 'Noto Sans KR', sans-serif;
    left: 10em;
}
.custom-para-line-1{
	position: absolute;
    top: 7em;
    left: 13em;
    font-family: 'Noto Sans KR', sans-serif;
}
.custom-para-line-2{
	position: absolute;
    top: 7em;
    left: 12.5em;
    font-family: 'Noto Sans KR', sans-serif;
}
.line-1{
	color: #262d58;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* Mobile view css */
@media screen and (min-width : 320px) and (max-width: 768px){
  .custom-box-tag{
    left:14.5em;
  }
  .custom-img{
    float:left;
    width:90%;
  }
  .custom-box-tag{
    top: 7em;
    font-size: 11px;
    left: 5em;
    width:65%;
  }
  .custom-align-tag{
    top: 11em;
    font-size: 11px;
    left: 5em;
  }
  .custom-align-tag-1{
    top: 3em;
    left: 16em;
    font-size: 11px;
  }
  .custom-tag-21{
        top: 11em;
    right: 3em;
    font-size: 11px;

  }
  .img-global{
        position: relative;
    left: 5em;
    top: 2em;
    width:46px;
    float:left;
  }
  .custom-box{
    width:92%;
  }
  .layer-color{
    width:100%;
  }
  .custom-para-line{
    top:9em;
    left:12em;
  }
  .custom-para-line-1{
        top: 9em;
    left: 15em;
  }
  .custom-para-line-2{
        top: 9em;
    left: 15.5em;
  }
  
}