.navbar {
    background-color: white;
}

.banner:before {

    background-color: #191c3f;
}


.banner-images a {
    border: 2px solid #2f3340;
}

.banner-images a:hover,
.banner-images a:focus,
.banner-images a:active {
    border-color: #f4ba2f;
}

header .sticky {
    background-color: #191c3f;
}

footer {
    background-color: #191c3f;
}


.advanced .left-side-widget .table thead {
    border-bottom: 1px solid #2f3340;
}

html,body{
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.page-container{
	flex: 1 0 auto;
}
footer{
	margin-top: 2em;
}
